body {
	margin: 0;
	background-color: #fff;
}

h1 {
	padding: 20px 0 0 15px;
	margin: 0 0 10px 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px;
	color: #777;
}

#map {
	background-color: #eee;
}

.background {
  fill: none;
  pointer-events: all;
}

#states .active {
  fill: #fff;
}

#states path {
  fill: #fff;
  stroke: #eee;
  stroke-width: 3px;
}

#states path:hover {
  stroke: #eee;
}

.neutral {
	fill: #333;
}

#panel {
	width: 100%;
	min-height: 200px;
	background-color: #fff;
}

.type-tab {
	height: 100px;
	width: 100px;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	margin-left: 20px;
	display: inline-block;
	text-align: center;
	padding: 10px 0 10px 0;
}

.selected-tab {
	background-color: #eee;
}